In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import pylab as pl
import seaborn as sns

In [20]:
dataframe = pd.read_csv('Pokemon.csv')

In [21]:
dataframe.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [22]:
dataframe['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [23]:
col_name_list = list(dataframe.columns)
col_name_list

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [14]:
col_name_list[0]

'#'

In [15]:
desired_cols = ['Name', 'Type 1', 'Type 2', 'HP']

In [16]:
for col in desired_cols:
    if col in col_name_list: 
        print(col)
        col_name_list.remove(col)
print(col_name_list)

Name
Type 1
Type 2
HP
['#', 'Total', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

In [17]:
dataframe.drop(col_name_list, axis=1, inplace=True)

In [18]:
dataframe.head()

                    Name Type 1  Type 2  HP
0              Bulbasaur  Grass  Poison  45
1                Ivysaur  Grass  Poison  60
2               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80
4             Charmander   Fire     NaN  39

In [56]:
dataframe = pd.read_csv('Pokemon.csv')
#Imports
import pandas as pd
import numpy as np
from patsy import dmatrices
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [57]:
dataframe.dropna()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [58]:
from sklearn.preprocessing  import LabelBinarizer

In [59]:
y = pd.get_dummies(dataframe['Generation'], prefix='Generation')
y

,Generation_1,Generation_2,Generation_3,Generation_4,Generation_5,Generation_6
0,1,0,0,0,0,0
1,1,0,0,0,0,0
2,1,0,0,0,0,0
3,1,0,0,0,0,0
4,1,0,0,0,0,0
...,...,...,...,...,...,...
795,0,0,0,0,0,1
796,0,0,0,0,0,1
797,0,0,0,0,0,1
798,0,0,0,0,0,1
799,0,0,0,0,0,1

In [48]:
dataframe.drop('Generation', axis = 1, inplace = True)

In [49]:
dataframe

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6

In [50]:
for col in y:
    dataframe[col] = y[col]

In [51]:
dataframe

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary_False,Legendary_True
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,1,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,1,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,1,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,1,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,0,1
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,0,1
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,0,1
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,0,1
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,0,1

In [60]:
dataframe['HP'].describe()

count    800.000000
mean      69.258750
std       25.534669
min        1.000000
25%       50.000000
50%       65.000000
75%       80.000000
max      255.000000
Name: HP, dtype: float64

In [61]:
type(dataframe['HP'].describe())

pandas.core.series.Series

In [62]:
x = dataframe['HP'].describe()

In [63]:
x['count']

800.0

In [64]:
for val in x:
    print(val)

800.0
69.25875
25.534669032332047
1.0
50.0
65.0
80.0
255.0

In [66]:
x['count']

800.0