In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import pylab as pl
import seaborn as sns

In [20]:
dataframe = pd.read_csv('Pokemon.csv')

In [21]:
dataframe.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [22]:
dataframe['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [23]:
col_name_list = list(dataframe.columns)
col_name_list

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [14]:
col_name_list[0]

'#'

In [15]:
desired_cols = ['Name', 'Type 1', 'Type 2', 'HP']

In [16]:
for col in desired_cols:
    if col in col_name_list: 
        print(col)
        col_name_list.remove(col)
print(col_name_list)

Name
Type 1
Type 2
HP
['#', 'Total', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

In [17]:
dataframe.drop(col_name_list, axis=1, inplace=True)

In [18]:
dataframe.head()

                    Name Type 1  Type 2  HP
0              Bulbasaur  Grass  Poison  45
1                Ivysaur  Grass  Poison  60
2               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80
4             Charmander   Fire     NaN  39